<div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure you want to delete the {{itemNameToDelete}}?</h4>
    <button type="button" class="btn-close close pull-fight" (click)="bsModalRef.hide()">
        <span class="visually-hidden">&times;</span>
    </button>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onDeleteClick()">Delete</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button>
</div>
