<div class="container mt-4">
    <form #adminForm="ngForm" class="mb-3" (ngSubmit)="getUsersWithRoles()">
        <div class="row g-0">
            <div class="col mb-3">
                <div class="d-flex align-items-center">
                    <label class="col-form-label me-2">Search:</label>
                    <input type="text" 
                        class="form-control me-3" 
                        style="width: 180px;"
                        name="searchPhrase"
                        [(ngModel)]="adminService.userParams().searchPhrase"
                    >
                </div>
            </div>
            <div class="col mb-3" style="max-width: 180px;">
                <div class="d-flex align-items-center">
                    <label class="col-form-label me-1">Sort by:</label>
                    <select name="sortBy" style="width: 100px;" class="form-select me-3"
                        [(ngModel)]="adminService.userParams().sortBy"
                    >
                        @for(sort of sortByList; track sort.value){
                            <option [value]="sort.value">
                                {{sort.display}}
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex">
                    <button class="btn btn-success me-1" type="submit">Apply filters</button>
                    <button (click)="getUsersWithRoles()" class="btn btn-danger" type="submit">Reset filters</button>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex align-items-center">
                    <label class="col-form-label me-1">Sort:</label>
                    <div class="d-flex">
                        <button
                            type="button"
                            class="btn btn-info"
                            name="direction"
                            (click)="getUsersWithRoles()"
                            btnRadio="DESC"
                            [(ngModel)]="adminService.userParams().sortDirection"
                            >Descending
                        </button>
                        <button
                            type="button"
                            class="btn btn-info"
                            name="direction"
                            (click)="getUsersWithRoles()"
                            btnRadio="ASC"
                            [(ngModel)]="adminService.userParams().sortDirection"
                            >Ascending
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="d-flex my-3">
                    <label class="col-form-label me-1">Users per page:</label>
                    <select name="itemsPerPage" class="form-select" style="min-width: 70px; max-width: 70px;"
                        [(ngModel)]="adminService.userParams().pageSize"
                    >
                        @for(items of itemsPerPageList; track items){
                            <option [value]="items">
                                {{items}}
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="mt-4">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10%;">
                        Surename
                    </th>
                    <th style="width: 10%;">
                        Name
                    </th>
                    <th style="width: 10%;">
                        Email
                    </th>
                    <th style="width: 10%;">
                        School Name
                    </th>
                    <th style="width: 10%;">
                        Active roles
                    </th>
                    <th style="width: 10%;">
                    </th>
                    <th style="width: 10%;">
                    </th>
                    <th style="width: 10%;">
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (user of adminService.paginatedResults()?.items; track user.id) {
                    <tr>
                        <td style="width: 10%;">{{user.surename}}</td>
                        <td style="width: 10%;">{{user.name}}</td>
                        <td style="width: 10%;">{{user.email}}</td>
                        <td style="width: 10%;">{{user.schoolName}}</td>
                        <td style="width: 10%;">{{user.userRoles}}</td>
                        <td style="width: 10%;"><button class="btn btn-primary">Edit school</button></td>
                        <td style="width: 10%;"><button class="btn btn-info" (click)="openRolesModal(user)">Edit roles</button></td>
                        <td style="width: 10%;"><button class="btn btn-danger">Delete user</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if(adminService.paginatedResults()?.pagination){
    <div class="d-flex justify-content-center">
        <pagination 
            [boundaryLinks]="true"
            [totalItems]="adminService.paginatedResults()?.pagination!.totalItems"
            [itemsPerPage]="adminService.paginatedResults()?.pagination!.itemsPerPage"
            (pageChanged)="pageChange($event)"
            [(ngModel)]="adminService.paginatedResults()?.pagination!.currentPage"
            [maxSize]="10"
            previousText="&lsaquo;"
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
        </pagination>
    </div>
}
