<div class="row">
    <div class="col-2 mt-2">
        <button type="button" class="btn btn-primary mb-2" style="position: fixed;" routerLink="/news" routerLinkActive="active"><- go back</button>
        <br>
        @if(newsDetail?.createdById == accountService.currentUser()?.id){
            <div class="mt-4">
                <button type="button" class="btn btn-success" style="position: fixed;" (click)="goToEdit()">Edit news</button>
            </div>
            
        }
    </div>
    <div class="mt-2 col-9 col-xl-6">
        <header class="border-bottom lh-1 py-2">
            <h1>{{newsDetail?.title}}</h1>
            <div class="row mt-4">
                <div class="col-10">
                    <i>
                        {{newsDetail?.author}}
                    </i>
                </div>
                <div class="col-2">
                    <i>
                        {{newsDetail?.createdAt | date:'yyyy-MM-dd'}}
                    </i>
                </div>
            </div>
        </header>
    
        <div class="mt-3 mb-5" style="text-align: justify;">
            <div class="mb-3 mt-3">
                <i><h5 style="font-size: 25px;">{{newsDetail?.description}}</h5></i>
            </div>
            <div >
                {{newsDetail?.content}}
            </div>
        </div>
    
    </div>
    <div class="col-1"></div>
    <div class="mt-5 col-xl-3 d-none d-xl-block">
        <div>
            {{newsDetail?.schoolName}}
        </div>

        @if (this.newsCards?.length! > 0) {
            <div class="mb-3" style="margin-top: 80px;">
                <p>
                    See also...
                </p>
            </div>
        }


        @for (news of newsCards; track news.id) 
        {
            <div class="mb-2">
                <app-news-card 
                    [news]="news"
                    (goToDetail)="reload($event)"
                >
                </app-news-card>
            </div>
            
        }
    </div>
</div>


