
<div class="form-singin m-auto mt-5" style="width: 700px;">
    <form #newNews="ngForm" (ngSubmit)="create()">
    <h1 class="h2 mb-3">Title</h1>
    <div class="form-floating mb-1">
        <input name="title" [(ngModel)]="model.title" type="text" class="form-control form-control-lg" id="floatingInput">
        <label for="floatingInput">News tile</label>
    </div>
    <h1 class="h3 my-3">Description</h1>
    <div class="form-floating mb-1">
        <textarea name="description" style="min-height: 78px;" [(ngModel)]="model.description" class="form-control" rows="3"></textarea>
        <label for="floatingInput">News short description</label>
    </div>
    <h1 class="h3 my-3">Content</h1>
    <div class="mb-3 form-floating ">
        <textarea name="content" style="min-height: 500px;" [(ngModel)]="model.content" class="form-control" rows="3"></textarea>
        <label for="floatingInput">News content</label>
    </div>
    <button class="btn btn-primary py-2 mt-2 mb-5" style="width: 145px;" type="submit">Upload</button>
    <button class="btn btn-danger py-2 mt-2 mb-5 ms-2" style="width: 145px;" type="button" routerLink = '/news'>Cancel</button>
    </form>
</div>