@if(news){
    <div class="form-singin m-auto mt-5" style="width: 700px;">
        @if(form.dirty){
            <div class="alert alert-info pb-1">
                <p><strong>Information:</strong>
                    You have made changes. Any unsaved changes will be lost.</p>
            </div>
        }
        <form #form="ngForm" (ngSubmit)="edit()">
        <h1 class="h2 mb-3">Title</h1>
        <div class="form-floating mb-1">
            <input name="title" [(ngModel)]="news.title" type="text" class="form-control form-control-lg" id="floatingInput">
            <label for="floatingInput">Tile</label>
        </div>
        <h1 class="h3 my-3">Description</h1>
        <div class="form-floating mb-1">
            <textarea  style="background: #333 !important;" name="description" style="min-height: 78px;" [(ngModel)]="news.description" class="form-control" rows="3"></textarea>
            <label for="floatingInput">Dscription</label>
        </div>
        <h1 class="h3 my-3">Content</h1>
        <div class="mb-3 form-floating ">
            <textarea name="content" style="min-height: 500px;" [(ngModel)]="news.content" class="form-control" rows="3"></textarea>
            <label for="floatingInput">Content</label>
        </div>

        @if (validationErrors.length > 0 ) {
          <div class="alert alert-danger pb-1">
            <ul>
              @for (error of validationErrors; track $index) {
                <li>{{error}}</li>
              }
            </ul>
          </div>
          }

        <button class="btn btn-primary py-2 mt-2 mb-5" style="width: 145px;" type="submit" [disabled]="!form.dirty">Save changes</button>
        <button class="btn btn-danger py-2 mt-2 mb-5 ms-2" style="width: 145px;" type="button" routerLink="/myNews">Cancel</button>
        </form>
    </div>
}