<div class="row align-items-center">
    <div class="text-center my-5 col-10">
        <h2>Your News</h2>
    </div>
    <div *appHasRole="['Teacher']" class="col-2">
        <button class="btn btn-primary" routerLink="/schools/{{accountService.currentUser()?.schoolId}}/news/new">Create new news</button>
    </div>
</div>

<div class="row">
    @for (news of accountService.userNews(); track news.id) {
        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-3 mb-3">
            news edit cards to do
            
        </div>
    }
</div>