<div class="container">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap align-items-center">
        <div class="col-10 text-left align-items-left">
          <a class="navbar-brand" href="#">Study Wire</a>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-right flex-nowrap">
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-right flex-nowrap">
            <a class="btn btn-sm btn-outline-secondary" href="#">Log in</a>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis">News</a>
        <a class="nav-item nav-link link-body-emphasis">Grades</a>
        <a class="nav-item nav-link link-body-emphasis">Homeworks</a>
        <a class="nav-item nav-link link-body-emphasis">Timetable</a>
        <a class="nav-item nav-link link-body-emphasis">Documents</a>
      </nav>
    </div>
  </div>
